#preview {
	border:1px solid black; 
	max-width: 100%;
	width: auto;
	overflow:none;
}

#preview-no-image {
	border:1px solid black; 
	min-width: 100%;
	width: auto;
	overflow:none;
}

#pin-add-button {
	border: 1px solid black;
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#pin-add {
	in-height: 150px;
	width: 200px;
	border: 1px solid black;
	text-align:center;
	margin-left: 4px;
}

.fa-trash {
     color: black;
     font: 50px;
     margin-left: 60px;
}