#preview {
	border:1px solid black; 
	max-width: 100%;
	width: auto;
	overflow:none;
}

#preview-no-image {
	border:1px solid black; 
	min-width: 100%;
	width: auto;
	overflow:none;
}

#pin-image {
	border:1px solid black; 
	display:block;
    margin:auto;
    min-width: 160px;
    margin-top: 15px;
	width: auto;
	overflow:none;
	border-radius: 5px;
}

.pin {
    width: 200px;
    /*height: 200px;*/
    float: left;
    margin: 3px;
    border: 1px solid black;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
}