<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">Ballroom World</a> -->
      <a href="/" class="navbar-brand">workspace</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="userName" ng-class="{active: isActive('/myBoard')}">
            <a ng-href="/myBoard">My Board</a>
        </li>
        <li ng-class="{active: isActive('/recentPins')}">
            <a ng-href="/recentPins">Recent Pins</a>
        </li>
      </ul>

       <ul class="nav navbar-nav navbar-right">
       <!-- If user is not logged in, display login with twitter button -->
        <li ng-show="!userName" >
          <a ng-click="go('/auth/twitter/')">
            <!-- <img class="navbar-button" src="assets/images/twitter-login.gif" alt="Twitter Login"> -->
            <i class="fa fa-sign-in fa-2x"></i>
          </a>
        </li>

        <!-- If user is logged in, display user twitter name -->
        <li ng-show="userName">
          <p class="navbar-text">Welcome {{ userName }}</p>
        </li>

        <!-- If user is logged in, display logout button -->
        <li ng-show="userName">
          <a ng-click="go('/auth/twitter/logout')">
            <i class="fa fa-power-off fa-lg"></i>
          </a>
        </li>
      </ul>     
    </div>
  </div>
</div>
