.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.navbar-button, .fa-power-off, .fa-sign-in {
    cursor: pointer;
    cursor: hand;
}

#like-box {
    height: 10px;
    margin-bottom: 15px;
}

.like.fa-heart {
     color: #ae2525;
     font: 50px;
     margin-left: 20px;
}

.dislike.fa-heart {
     color: blue;
     font: 50px;
     margin-left: 20px;
}


#like-box a:hover {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.pin {
    width: 200px;
    min-height: 270px;
    float: left;
    margin: 3px;
    border: 1px solid black;
    white-space: normal;      /* CSS3 */  
    white-space: normal;      /* CSS3 */   
    white-space: -moz-normal; /* Firefox */    
    white-space: -normal;     /* Opera <7 */   
    white-space: -o-normal;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

#pin-image {
    border:1px solid black; 
    display:block;
    margin:auto;
    min-width: 160px;
    margin-top: 15px;
    width: auto;
    overflow:none;
    border-radius: 5px;
    max-width: 100%;
}